<div class="description-section">
    <p>
      <span class="emphasis">Earth’s Greatest Enemy</span> is een film over de rampzalige impact van het Amerikaanse leger op onze planeet.
      Vrijgesteld van klimaatverplichtingen is het Pentagon de grootste institutionele vervuiler ter wereld, onder
      andere door fossiel brandstofgebruik, het vervuilen van water en het dumpen van giftige stoffen.
    </p>
    <p>
      Filmmaker Abby Martin verbindt in deze documentaire de impact van dit mondiale militaire imperium met de
      plaatselijke realiteit. Via onderzoeksjournalistiek en verhalen uit getroffen gemeenschappen laat Earth’s
      Greatest Enemy de gevolgen zien van militarisme voor al het leven op aarde. De film daagt het publiek uit om
      de verborgen kosten van de huidige militarisering en de planetaire gevolgen daarvan zelf te onderzoeken, ook
      in hun eigen omgeving.
    </p>
  <img class="center" src="assets/militaire-minor.jpg">
  <p>
    Op deze speciale filmavond van het Friese Vredescafé wordt Earth’s Greatest Enemy vertoond in de theaterzaal van
    hogeschool NHL Stenden in Leeuwarden. Deze locatie maakt het onderwerp extra urgent omdat NHL Stenden sinds een
    jaar militaire minors aanbiedt die studenten opleidt tot reservist. Bovendien is in Leeuwarden de grootste
    Navo-vliegbasis van Europa gevestigd. Die zorgt voor veel geluidsoverlast en is verantwoordelijk voor ernstige
    vervuiling van het water in de omgeving. De natuurvergunning van de basis werd vorig jaar door de rechtbank
    vernietigd.
  </p>
</div>
